{% extends "base.html" %}
{% block head %}
<script language="JavaScript">

function isVisible(object) {
    return true;
}

function formatPeriod(diff, period, name) {
    if (diff / period < 2) {
        return '1 ' + name;
    }
    return Math.floor(diff / period).toString() + ' ' + name + 's';
}

function formatDateTime(d) {
    if (d == 'None') {
        return '-';
    }
    var diff = new Date() - new Date(d);
    var second = 1000;
    var minute = 60 * second;
    var hour = 60 * minute;
    var day = 24 * hour;
    var week = 30 * day;
    var month = 30 * day;
    var year = 365 * day;
    if (diff > year) {
        return formatPeriod(diff, year, 'year');
    }
    else if (diff > month) {
        return formatPeriod(diff, month, 'month');
    }
    else if (diff > week) {
        return formatPeriod(diff, week, 'week');
    }
    else if (diff > day) {
        return formatPeriod(diff, day, 'day');
    }
    else if (diff > hour) {
        return formatPeriod(diff, hour, 'hour');
    }
    else if (diff > minute) {
        return formatPeriod(diff, minute, 'minute');
    }
    else {
        return formatPeriod(diff, second, 'second');
    }
}
var loadedGroups = [];

function sortRoots(tt, sortFun) {
    var top = $(tt.find('tbody').find('tr')[0]);

    var roots = tt.data("treetable").roots;
    roots.sort(sortFun);
    var i, j, children;
    for (j = 0; j < roots.length; ++j) {
        roots[j].row.insertAfter(top);
        roots[j].render();
        top = roots[j].row;
    }
    for (j = 0; j < roots.length; ++j) {
        children = roots[j].children;
        for (i = children.length - 1; i >= 0; i--) {
            tt.data("treetable")._moveRows(children[i], roots[j]);
        }
    }
}

function sortNodes(a, b) {
    var g1 = a.row.data('group');
    var g2 = b.row.data('group');
    if (g1 && !g2) {
        return -1;
    }
    if (g2 && !g1) {
        return 1;
    }
    g1 = a.row.data('cmpData');
    g2 = b.row.data('cmpData');
    return sortFunction(g1, g2);
}

function resort() {
    var tree = $('#tree');
    sortRoots(tree, sortNodes);
    for (var i = 0; i < loadedGroups.length; ++i) {
        tree.treetable('sortBranch', tree.treetable('node', loadedGroups[i]), sortNodes);
    }
}

function expandGroup(id, $parent) {
    if ($parent && $parent.children.length) {
        return;
    }
    var path = id == '' ? '/rest/children' : '/rest/children/' + id;
    $.getJSON(path)
        .done(
            function(data) {
                if ($parent) {
                    loadedGroups.push($parent.id);
                }
                var $rows = [];
                data.subgroups.sort(sortFunction);
                data.series.sort(sortFunction);
                for (var i in data.subgroups) {
                    var $tr = $('<tr/>')
                            .addClass('filterable')
                            .data('path', data.subgroups[i].path)
                            .data('modified', data.subgroups[i].modified)
                            .data('ttId', 'g_' + data.subgroups[i].path)
                            .data('ttParentId', data.group.path != '{{group.path}}' ? 'g_' + data.group.path : null)
                            .data('ttBranch', true)
                            .data('group', true)
                            .data('cmpData', data.subgroups[i])
                            .append($('<td/>').append(lastCommitResultIcon($('<span/>'), data.subgroups[i].last_commit_result)))
                            .append($('<td/>'))
                            .append($('<td/>').append(
                                    $('<a/>').attr('href', "/group/" + data.subgroups[i].path)
                                            .addClass('groupLink')
                                            .append(data.subgroups[i].path)))
                            .append($('<td>' + formatDateTime(data.subgroups[i].modified) + '</td>'))
                            .append($('<td>' + formatDateTime(data.subgroups[i].last_difference) + '</td>'))
                            ;
                    $rows.push($tr[0]);

                }
                for (i in data.series) {
                    $tr = $('<tr/>')
                            .addClass('filterable')
                            .data('path', data.series[i].path)
                            .data('modified', data.series[i].modified)
                            .data('ttId', 's_' + data.series[i].path)
                            .data('ttParentId', data.group.path != '{{group.path}}' ? 'g_' + data.group.path : null)
                            .data('group', false)
                            .data('cmpData', data.series[i])
                            .append($('<td/>').append(lastCommitResultIcon($('<span/>'), data.series[i].last_commit_result)))
                            .append($('<td/>').append(setStabilityImage($('<span/>'), data.series[i].commits_for_stability_period, data.series[i].failed_commits_for_stability_period)))
                            .append($('<td/>').append(
                                    $('<a/>').attr('href', "/series/" + data.series[i].path)
                                            .addClass('seriesLink')
                                            .append(data.series[i].path)))
                            .append($('<td>' + formatDateTime(data.series[i].modified) + '</td>'))
                            .append($('<td>' + formatDateTime(data.series[i].last_difference) + '</td>'))
                    ;
                    $rows.push($tr[0]);
                }
                $("#tree").treetable('loadBranch', $parent, $rows);
            });
}

$(document).ready(function(){
    $("#tree").treetable({ expandable: true, column: 2, onNodeExpand: function () {expandGroup(this.row.data('path'), this)} });
    $('#tree').on('click', '.group', function () { expandGroup($(this).attr('id'), $(this).parent()); });
    expandGroup("{{group.path}}", null);
});
</script>
{% endblock %}
{% block content %}
    {% from 'groupcommon.html' import group_header with context %}
    {{ group_header(group, 'tree') }}
    <table id="tree" class="table">
        <colgroup class="icon" span="2"></colgroup>
        <tr><th>Status</th><th>Health</th><th id="treeName">Name</th><th>Last submit</th><th>Last difference</th></tr>
    </table>
{% endblock %}
