{% extends "base.html" %}
{% block head %}
    <style>
    .leftCompare {
        float: left;
        width: 40%;
        text-align: right;
    }
    .rightCompare {
        float: right;
        width: 40%;
        text-align: left;
    }
    .compareRow {
        text-align: center;
    }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h2 class="leftCompare">{{ group1.path }}</h2>
        <h2 class="rightCompare">{{ group2.path }}</h2>
    </div>
    <div class="panel-group" id="compareResults" style="clear: both">
        {% for each in pairs %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#pair-{{ loop.index }}">
                        {% if each[3]=='equal' %}
                        <span class="text-success glyphicon glyphicon-ok-sign" style="float: left; margin: 2px"></span>
                        {% elif each[3]=='missing' %}
                        <span class="text-warning glyphicon glyphicon-remove-sign" style="float: left; margin: 2px"></span>
                        {% else %}
                        <span class="text-danger glyphicon glyphicon-exclamation-sign" style="float: left; margin: 2px"></span>
                        {% endif %}
                        <span style="padding-left: 20px">..{{ each[2] }}</span>
                    </a>
                </h4>
            </div>
        </div>
        <div id="#pair-{{ loop.index }}" class="compareRow panel-collapse collapse in">
            <div class="panel-body">
                <div class="leftCompare">
                    {% if each[0] %}
                    <div><a href="{{ url_for('series', path=each[0].path) }}">{{ each[0].path }}</a></div>
                    <a href="{{ url_for('image', path=each[0].path, indx=each[0].get_latest_object().series_index) }}">
                        <img src="/thumbnail/{{ each[0].equivalence_class.name }}/{{ each[0].get_latest_object().index }}/256"/>
                    </a>
                    {% else %}
                    {{ group1.path }}{{ each[2] }} does not exist
                    {% endif %}
                </div>
                <div class="rightCompare">
                    {% if each[1] %}
                    <div><a href="{{ url_for('series', path=each[1].path) }}">{{ each[1].path }}</a></div>
                    <a href="{{ url_for('image', path=each[1].path, indx=each[1].get_latest_object().series_index) }}">
                        <img src="/thumbnail/{{ each[1].equivalence_class.name }}/{{ each[1].get_latest_object().index }}/256"/>
                    </a>
                    {% else %}
                    {{ group2.path }}{{ each[2] }} does not exist
                    {% endif %}
                </div>
                {% if each[3]=='equal' %}
                <div>Images are equal</div>
                {% elif each[3]=='missing' %}
                <div>Image is missing</div>
                {% else %}
                <div>Images are unequal</div>
                <div>
                    {% if each[0] and each[1] %}
                    <a class="btn btn-primary" href="{{ url_for('image', path=each[0].path, indx=each[0].get_latest_object().series_index) }}?vs={{ each[1].get_latest_object().index }}"><span class="ui-icon ui-icon-transferthick-e-w" style="float: left"></span> Compare images</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
